.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
}
.map {
  max-width: 800px;
  min-height: 300px;
}

@media only screen and (max-width: 450px) {
  .container {
    flex-direction: column;
  }
}
